[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=Reittiopas
Exec=Reittiopas
Name=Reittiopas
# translation example:
# your app name in German locale (de)
Name[de]=Reittiopas

